
<div>
<section class="container row justify-between">
  <div class="col-3" >
    <p class="text-center">
      User Name:</p>
    <p>{{user_name}}</p>
  </div>

  <div class="col-3" >
    <p class="text-center">
      Email:</p>
    <p>{{email}}</p>
  </div>
</section>



<div class="row">
  <p> Blog Submission:</p>
      <form  id="postForm" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="post_title" type="text" data-length="10">
            <label for="post_title">Blog Submition Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="post_content" class="materialize-textarea" data-length="120"></textarea>
            <label for="post_content">Submission Content</label>
          </div>
        </div>
         <div class="row">
          <div class="input-field col s6">
            <input id="poster" type="url" data-length="">
            <label for="poster">Cover Poster</label>
          </div>
          <button id="postBtn" class="btn waves-effect waves-light" type="submit" name="action">Submit Post
      </button>
        </div>
      </form>
    </div>
</div>
  