body {
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(36, 24, 24);
    border: 5px rgb(72, 12, 12) solid;
    display: flex;
    min-height: 100vh;
    color: whitesmoke;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .heading {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Permanent Marker', cursive;


  }

  #card {
    width: 400px;
    height: 400px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
    border: 5px solid rgb(253, 247, 247);
    color: whitesmoke

  }

  .input-field {

    background-color : #d1d1d1; 
  
  }
